div.widgetize-container {
	position: fixed;
	height: 20px;
	bottom: 0;
	right: 5;
	width: 100%;
	padding: 0; margin: 0;
	z-index: 300;
}

.widgetize-widget {
	float: right;
	margin: 0;
	display: inline-block;
	cursor: default;
	padding: 0 10px;
}

.widgetize-widget.ui-state-hover {
	cursor: pointer;
}
